.container { width: 710px }

body {
  background-color: #666;
  background-image: url('/images/proto_bg.png');
  background-attachment: fixed;
}

header { padding-top: 20px }

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */
a {
  color: #069;
  text-decoration: none;
}

a:hover { color: #09f }

/* Navigation */
nav { float: right }

nav {
  background-color: #fff;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #069;
}

nav ul li a:hover { color: #09f }

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #036;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.16, #036),
    color-stop(0.69, #069)
  );
  background-image: -moz-linear-gradient(
    center bottom,
    #036 16%,
    #069 69%
  );
  -webkit-box-shadow: 5px 5px 10px 5px #000;
  -moz-box-shadow: 5px 5px 10px 5px #000;
  box-shadow: 5px 5px 10px 5px #000;
}

a.signup_button:hover {
  background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.16, #036),
	color-stop(0.69, #003)
	);
  background-image: -moz-linear-gradient(
	center bottom,
	#036 16%,
	#003 69%
  );
  color: #ddd;
}

/* Add Button */
.add {
  color: #fff;
  background-color: #080;
  text-align: center;
  vertical-align: 1em;
  padding: 0 6px 3px;
  margin: 0;
  vertical-align: bottom;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0.15, #3f3),
    color-stop(0.58, #080)
  );
  background-image: -moz-linear-gradient(
    left top,
    #3f3 15%,
    #080 58%
  );
}

/* Subtract Button */
.subtract {
  color: #fff;
  background-color: #800;
  text-align: center;
  vertical-align: 1em;
  padding: 0 7px 3px;
  margin: 0;
  font-weight: bold;
  vertical-align: bottom;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0.15, #f66),
    color-stop(0.58, #800)
  );
  background-image: -moz-linear-gradient(
    left top,
    #f66 15%,
    #800 58%
  );
}

/* Buttons */
.edit_button, .chpwd_button, .ticket_button {
  vertical-align: bottom;
  height: 23px;
  width: auto;
  padding: 0 10px 0 0;
}

/* Round corners */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav { float: none }

/* Gravatar */
img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* Logo */
img.logo {
  height: 80px;
  width: auto;
}

/* Navigation Icons */
.transparent {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
img.nav_buttons {
  height: 20px;
  width: auto;
  padding: 0;
  vertical-align: top;
  transition: height 0.5s;
  -moz-transition: height 0.5s; /* Firefox 4 */
  -webkit-transition: height 0.5s; /* Safari and Chrome */
  -o-transition: height 0.5s; /* Opera */
}
img.nav_buttons:hover { height: 40px }

/* User Index */
ul.users { margin-top: 1em }

.users li {
  margin-top: 1em;
  list-style: none;
}

.caveat { font-weight: bold }
p.caveat { font-size: 75% }
span.caveat {
	font-size: 25%;
	vertical-align: super;
}

/* Table Layout */
div.tbl { display: table; width: auto }
div.tbl_row { display: table-row; width: auto }
div.tbl_head { font-weight: bold }
div.tbl_data, div.tbl_head { 
	display: table-cell;
	padding: 2px 4px;/* Never use percentages here! */
	width: auto;
	white-space: nowrap
}
.tbl .tbl_row .tbl_data .tbl .tbl_row:nth-child(even) { background-color: #eee }

div.user_show_title { font-size: 300% }
div.user_show_title img { vertical-align: text-top }
div.user_show_h2 { font-weight: bold; margin: 20px 5px 0 0 }
div.default {
	white-space: normal;
	background-color: #eee;
}
div.wrappable { white-space: normal }
div.row_link a { color: #000 }
div.row_link:hover { background-color: #aaf !important }

fieldset { width: auto }

/* Error Messages */
.field_with_errors label { color: #f00 }
.field_with_errors input { border: 3px solid #f00 }
.field_with_errors textarea { border-color: #f00 }

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #fff;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

 /* Form Fields */

textarea {
	width: 300px;
	height: 105px;
}