.container { width: 100% }

body { background-color: #fff }

header { display:none }

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */
a {
  color: #069;
  text-decoration: none;
}

/* Navigation */
nav { display:none }

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #036;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.16, #036),
    color-stop(0.69, #069)
  );
  background-image: -moz-linear-gradient(
    center bottom,
    #036 16%,
    #069 69%
  );
  -webkit-box-shadow: 5px 5px 10px 5px #000;
  -moz-box-shadow: 5px 5px 10px 5px #000;
  box-shadow: 5px 5px 10px 5px #000;
}

/* Add Button */
.add { display: none }
.legend_button { font-size: 85%; font-weight: normal }
/* Subtract Button */
.subtract { display: none}

/* Buttons */
.edit_button, .chpwd_button, .ticket_button { display: none}

/* Round corners */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */
footer { display: none }

footer nav { float: none }

/* Gravatar */
img.gravatar { display: none }

/* Logo */
img.logo { display: none }

/* Navigation Icons */
.transparent { display: none}
img.nav_buttons { display: none }

/* User Index */
ul.users { margin-top: 1em }

.users li {
  margin-top: 1em;
  list-style: none;
}

.caveat { font-weight: bold }
p.caveat { font-size: 75% }
span.caveat {
	font-size: 25%;
	vertical-align: super;
}

/* Table Layout */
div.tbl { display: table; width: auto }
div.row { display: table-row; width: auto }
div.cellb { font-weight: bold }
div.cell, div.cellb { 
	display: table-cell;
	padding: 2px 4px;/* Never use percentages here! */
	width: auto;
	white-space: nowrap
}
.tbl .row .cell .tbl .row:nth-child(even) { background-color: #eee }

div.user_show_title { font-size: 300% }
div.user_show_title img { vertical-align: text-top }
div.user_show_h2 { font-weight: bold; margin: 20px 5px 0 0 }
div.default {
	white-space: normal;
	background-color: #eee;
}
div.wrappable { white-space: normal }
div.row_link a { color: #000 }
div.row_link:hover { background-color: #aaf !important }

fieldset { width: auto; margin: 0 }

/* Error Messages */
.field_with_errors label { color: #f00 }
.field_with_errors input { border: 3px solid #f00 }
.field_with_errors textarea { border-color: #f00 }

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #fff;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

 /* Form Fields */

textarea {
	width: 300px;
	height: 105px;
}
textarea.notes {
  width: 150px;
  height: 150px;
  margin: 0;
}
.price,
.amount  { width: 50px }
.service { width: 100px }
.item    { width: 170px }
.notes   { width: 140px }
.qty     { width: 15px }

#computer_show { font-size: 50% }

/* QR Code */
.qr, .qr .row, .qr .cell {
  border-width: 0;
  border-style: none;
  border-color: transparent;
  border-collapse: collapse;
 }
.qr .row, .qr .cell {
  padding: 0;
  margin: 0;
}
.qr .cell, .qr img {
  width: 3px;
  height: 3px;
}
.qr .cell { font-size: 0 }
.bg0 { background-color: #000 }
.bgF { background-color: #fff }