<% require 'faker' %>
<h1>Mission Statement</h1>
<p>
  At Computer Service Center, we strive to <%= Faker::Company.bs %> in today's marketplace.
  Our staff members are trained to <%= Faker::Company.bs %> in everyday situations.
  No one can <%= Faker::Company.bs %> better than us. Let us do it for you!
</p>
