<h1>Got a Question?</h1>
<p>
	<b>Call us:</b> 317.334.1850<br />
	<b>Stop in:</b>
	<%= link_to(business_address, directions_url, :target => "_blank") %><br />
	<b>Hours:</b> 10am - 6pm M-F, 10am - 3pm Sat, Closed Sun<br />
	(Note: Most employees are college students, thus class scheduling may require closing 1hr early.)
</p>

<%= directions_to %>