<h1>Welcome</h1>

<p>
  Our new website is now a tool used for tracking the location and status of all electronic devices left in our care. If this is your first time, sign up for an account to see the status of your ticket(s).
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
