<h1>Welcome</h1>

<p>
  Our new website now has an integrated application used for tracking the location and status of all electronic devices left in our care. It also helps to reduce our carbon footprint by eliminating paper tickets. If you're new to the site, sign up for an account to begin the check-in process.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
