%fieldset
	%legend Ticket
	%span#checked_in
		= render 'checked_in',  :t => t
	%span#checked_out
		= render 'checked_out', :t => t
	%span#status
		= render 'status', :t => t
	%b Technician:
	%span#technician
		= render 'technician', :t => t
