%h1.table_label In Queue
= render partial: 'tickets_table', locals: { tickets: @tickets_in_queue }
%h1.table_label In Progress
= render partial: 'tickets_table', locals: { tickets: @tickets_in_progress }
%h1.table_label In Limbo
= render partial: 'tickets_table', locals: { tickets: @tickets_in_limbo }
%h1.table_label
  = link_to 'In Archive', archive_path
