/*
 *
 *= require_self
 * in lieu of sprockets, @import
 */
@import 'bourbon';
@import 'neat-helpers';
// $visual_grid: true;// debugging
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
@import 'neat';
@import 'buttons';

@mixin half-to-full-width-responsive {
  @include span-columns(6 of 12);
  @include media($tablet) {
    @include span-columns(8);
    text-align: center;
  }
  @include media($mobile) {
    @include span-columns(4);
    text-align: center;
  }
}

@mixin full-width-responsive {
  @include span-columns(12 of 12);
  @include media($tablet) {
    @include span-columns(8);
    overflow: hidden;
  }
  @include media($mobile) {
    @include span-columns(4);
    overflow: hidden;
  }
}

@mixin hide-on-tablets {
  @include media($tablet) { display: none; }
}

@mixin hide-on-phones {
  @include media($mobile) { display: none; }
}

@mixin hide-on-mobile-devices {
  @include hide-on-phones;
  @include hide-on-tablets;
}

// Custom colors
$csc_blue: rgba(70, 96, 161, 1);
$frosted_glass: rgba(255, 255, 255, 0.35);
$milky_glass: rgba(255, 255, 255, 0.75);

// Generic colors
$link_color: black;
$bg_medium:  $frosted_glass;
$bg_light:   $milky_glass;
$bg_dark:    black;

// Generic elements
body {
  @include background-image(
    linear-gradient($bg_medium, $bg_dark),
    radial-gradient($bg_light, $bg_dark)
  );
  background-repeat: no-repeat;
  background-color: $bg_dark;
}

a {
  color: $link_color;
  text-decoration: none;
}

b { font-weight: 400; }

table {
  margin-bottom: 20px;
  &, td, th { background-color: $bg_medium; }
  tr:hover td { background-color: $bg_light; }
  &.index { @include full-width-responsive; }
}

td, th {
  padding: 5px;
  text-align: center;
}

// Make it so the search box doesn't affect the content below
main {
  @include full-width-responsive;
  position: relative;
  top: -20px;
}

// Everything that's visible in the browser
.web_view {
  @include outer-container;
  font-family: $helvetica;
  font-weight: 200;
}

// Contains the logo and the navigation menu
.banner {
  @include span-columns(12);
}

.logo {
  @include half-to-full-width-responsive;
  background-image: image-url('logo.png');
  background-repeat: no-repeat;
  height: 90px;
}

.menu {
  @include half-to-full-width-responsive;
  ul {
    height: 50px;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    height: 50px;
    margin-right: 10px;
  }
}

.menu_item {
  @extend .button;
  @extend .button-circle;
  @extend .button-flat;
  background-color: $bg_medium;
  &:hover { background-color: $bg_light; }
  width: 50px;
  height: 50px;
  i {
    position: relative;
    top: -35px;
  }
}

// Search box

.search_container {
  @include half-to-full-width-responsive;
  // It should be hidden by default on all devices
  // The search button makes it appear
  display: none;
  @include hide-on-mobile-devices;
}

.search_box {
  height: 34px;
  // border-radius: 5px;
  // background-color: $bg_light;
  font-family: $helvetica;
  font-size: 1em;
  font-weight: 200;
  padding: 5px;
  margin: 0 0 20px 0;
  width: 265px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search_button {
  position: relative;
  top: -2px;
  left: -3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// Table column minimum widths

.customer_name   {
  min-width: 140px;
  @include media($tablet) { min-width: 0; }
  @include media($mobile) { min-width: 0; }
  &.tablet_expanding {
    @include media($tablet) { width: 100%; }
  }
}
.customer_address {
  width: 100%;
  @include hide-on-mobile-devices;
}
.customer_mobile {
  @include hide-on-phones;
}
.customer_email {
  @include hide-on-tablets;
}
.ticket_status   {
  min-width: 220px;
  @include media($tablet) { min-width: 110px; }
  @include hide-on-phones;
}
.computer_model  {
  min-width: 170px;
  @include media($tablet) { min-width: 0; }
  @include media($mobile) { min-width: 0; }
}

.table_label {
  font-weight: 100;
  color: white;
  text-align: center;
  a { color: white; }
}

// Pagination links
.pagination {
  @include full-width-responsive;
  // font-size: 1em;
  color: white;
  text-align: center;
  a {
    color: white;
    margin: 0 5px;
  }
  .current {
    margin: 0 5px;
    padding: 0 5px;
    font-style: normal;
    font-weight: 400;
    background-color: $bg_medium;
  }
  .disabled { color: #999; }
}

// Controller-specific styles
@import 'tickets';
@import 'users';
@import 'computers';
