// Custom colors
$csc_blue: rgba(70, 96, 161, 1);
$frosted_glass: rgba(255, 255, 255, 0.35);
$milky_glass: rgba(255, 255, 255, 0.75);

// Generic colors
$link_color: black;
$bg_medium:  $frosted_glass;
$bg_light:   $milky_glass;
$bg_dark:    black;