.ticket_labors {
  // center the table
  margin: auto;

  input, select {
    // redeclaring fonts
    @include standard-fonts;
    // give the text some breathing room
    padding: 5px;
    // make it take up the full cell
    margin: 0;
    border: none;
    // Note: webkit doesn't honor text-align for select
    text-align: center;
    // Due to the way borders are drawn on faux tables,
    // it's better to get the background from the table cell
    background: transparent;
    @include highligh-on-hover-and-focus;
  }
  select {
    // remove the default browser background
    -webkit-appearance: none;
    // remove the rounded corners
    border-radius: 0;
    // needs to be long enough to overflow its div
    // thus hiding the default select arrow in Firefox
    width: 170px;
  }
  .service {
    max-width: 150px !important;
    overflow: hidden;
  }
  // .table { margin: 0; }
}

.service_label { width: 152px; }
.labor_notes_label { width: 100px; }
.cost_label { width: 100px; }

.actions {
  text-align: center;
  a { margin: 10px; }
}
