.result {
  @include span-columns(2 of 12);
  @include media($tablet) { @include span-columns(2 of 8); }
  @include media($mobile) { @include span-columns(1 of 4); }
  text-align: center;
  background-color: $bg_medium;
  padding: 10px;
  margin-bottom: 10px;
  &:hover { background-color: $bg_light; }
}
.tagline { text-align: center; }
