/* first hide the checkbox */
input[type=checkbox] { visibility: hidden; }

.slider {
  width: 80px;
  height: 26px;
  background: #333;
  border-radius: 50px;
  position: relative;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  &:after {
    content: 'NO';
    font: 12px/26px $helvetica;
    color: #e00;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
  }
  &:before {
    content: 'YES';
    font: 12px/26px $helvetica;
    color: #0d0;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
  }
}

/* the label becomes the part of the slider that moves */
.slider label {
  display: block;
  width: 34px;
  height: 20px;
  border-radius: 50px;
  @include transition(all 1s $ease-in-out-circ);
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  background: #fafafa;
  @include background-image(linear-gradient(#fafafa 0, #dedede 40%, #b5b5b5 100%));
}

/* CSS3's :checked pseudo selector allows targeting an element 
 * by its checked status.
 * CSS2.1's adjacent sibling selector "+" targets the very next element.
 * This allows us to move the label, and the transition does the rest.
 */
.slider input[type=checkbox]:checked + label { left: 43px; }
