.ticket_show {
  @include full-width-responsive;
  margin-top: 20px;// counters main's position: relative; top: -20px;
  .clickable:hover { background-color: $bg_light; }
  section {
    padding: 5px;
    margin-bottom: 2px;
    background-color: $bg_medium;
    &.notes {
      // make the textarea fill the entire section
      padding: 0;
      margin: 0;
      // the textarea has its own background color
      // which is better, because it can change on focus
      background-color: transparent;
    }
  }
  .status {
    // necessary for the status select's absolute position
    position: relative;
    // used to hide the ugly firefox dropdown arrow
    overflow: hidden;
    // make it more obvious that this is clickable
    &:hover { background-color: $bg_light; }
  }
}

.column_left, .column_right {
  @include span-columns(6 of 12);
  @include media($tablet) {
    @include span-columns(8);
  }
  @include media($mobile) {
    @include span-columns(4);
  }
  background-color: $bg_medium;
}

.notes_label {
  // position the label over the textarea
  position: absolute;
  left: 5px;
  margin-top: 5px;
  // when scrolling, it will move behind
  // see also: tickets.js.coffee
  z-index: 2;
}

.edit_notes {
  // make the textarea fill the entire section
  margin: 0;
  border: 0;
  width: 100%;
  height: 250px;
  // leave room for the label
  padding: 25px 5px 0 5px;
  clip: rect(20px 0 0 0);
  // fonts aren't inherited here, re-declaring
  @include standard-fonts;
  background-color: $bg_medium;
  @include highligh-on-hover-and-focus;
}

.status_select {
  // make it take up the entire section
  position: absolute;
  left: 0;
  top: 0;
  height: 27px;
  width: 110%;
  // make it invisible
  -webkit-appearance: none;
  border: none;
  background: transparent;
  text-indent: 1000px;
  // fonts aren't inherited here, re-declaring
  @include standard-fonts;
}