.ticket_show {
  @include full-width-responsive;
  margin-top: 20px;// counters main's position: relative; top: -20px;
  .clickable:hover { background-color: $bg_light; }

}

.column_left, .column_right {
  @include span-columns(6 of 12);
  @include media($tablet) {
    @include span-columns(8);
  }
  @include media($mobile) {
    @include span-columns(4);
  }
  background-color: $bg_medium;
}

.ticket_show section {
  padding: 5px;
  margin-bottom: 2px;
  background-color: $bg_medium;
}