.user_details {
  text-align: center;
  // make the info appear closer to the name
  position: relative;
  top: -15px;
}

.user_computers {
  margin: auto;// centers the table
  .time { @include hide-on-mobile-devices; }
  .form_factor {
    min-width: 90px;
    @include hide-on-phones;
  }
  .make { min-width: 80px; }
  .model { min-width: 150px; }
}
