<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://on.fb.me/cscindy" target="_blank">Facebook</a></li>
      <li><a href="http://github.com/protolif" target="_blank">Webmaster</a></li>
    </ul>
  </nav>
</footer>
