%nav.menu
  %ul
    %li
      %a.menu_item#toggle_search{ href: '#' }<
        %i.icon-search
    %li
      %a.menu_item{ href: users_path }<
        %i.icon-group
    %li
      %a.menu_item{ href: computers_path }<
        %i.icon-desktop
    %li
      %a.menu_item{ href: tickets_path }<
        %i.icon-ticket
    %li
      %a.menu_item{ href: '#' }<
        %i.icon-gears
